@media screen and (min-width: 769px) {
    .gridcontainer {
        display:grid;
        grid-template-columns: 12, 1fr;
        grid-template-rows: 150px, 750px, 1500px, 50px;
        grid-template-areas: 
            "h h h h h h h h h h m m"
            "c c c c c c c c c c c c"
            "l l l l l l l l l l l l"
            "f f f f f f f f f f f f";
        grid-gap: 5px;
        background-color: white;
    }
    .content .grid2 {
        max-width: 750px;
        grid-template-columns: 750px, 750px, 750px, 750px;
        grid-template-rows: 750px, 750px;
        grid-template-areas:
            "o o o o"
            "o o o o";
        display: grid;
        padding: 10px;
        grid-gap: 10px;
    }
}
.test {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    grid-area: h;
    background-color:rgba(164, 163, 163, 0.804);
}
.menu {
    grid-area: m;
    background-color:rgba(164, 163, 163, 0.804);
    display:inline-block;
    background-image: url('https://cdn2.iconfinder.com/data/icons/arrows-7-1/512/xxx004-512.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}
.slideshow {
    grid-area: c;
    max-width: 750px;
    position: relative;
    margin: auto;
}
.content {
    grid-area: l;
    margin: auto;
}

.footer {
    grid-area: f;
    background-color:rgba(164, 163, 163, 0.804);
}


.header input[type=text] {
    float: right;
    margin: 10px;
    width: 50%;
  	box-sizing: border-box;
  	border: 2px solid #ccc;
  	border-radius: 4px;
  	font-size: 16px;
  	background-color: white;
  	background-image: url('https://www.freeiconspng.com/uploads/search-icon-png-2.png');
  	background-size: 20px;
  	background-position: 10px 10px;
  	background-repeat: no-repeat;
  	padding: 12px 20px 12px 40px;
}

.header p {
    float: left;
    font-size: large;
    text-align: center;
    margin-left: 15px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}
.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menu:hover .dropdown-menu {
    display: block;
}

.slideshow img {
    width: 100%;
}
.slideshow p {
    font-size: 24px;
    font-weight: bold;
}
.content p {
    font-size: 20px;
    margin: 25px;
}
.content .grid2 img {
    grid-area: o;
    width: 100%;
    height: 100%;
}

.mySlides {
    display: none;
}
.w3-animate-left {
    position:relative;
    animation: animateleft 0.4s}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

.footer p {
    float: left;
    margin-left: 15px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .gridcontainer {
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "h h m m"            
            "c c c c"
            "l l l l"
            "f f f f";
        grid-gap: 5px;
        background-color: white;
    }
    .header input[type=text] {
    	margin: 10px;
    	width: 90%;
  		box-sizing: border-box;
  		border: 2px solid #ccc;
  		border-radius: 4px;
  		font-size: 16px;
  		background-color: white;
  		background-image: url('https://www.freeiconspng.com/uploads/search-icon-png-2.png');
  		background-size: 20px;
  		background-position: 10px 10px;
  		background-repeat: no-repeat;
  		padding: 12px 20px 12px 40px;
    }
    .content .grid2 {
        max-width: 750px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "o"
            "o"
            "o"
            "o"
            "o"
            "o"
            "o"
            "o";
        display: grid;
        padding: 10px;
        grid-gap: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .gridcontainer {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "h h h h h h m m"
        "c c c c c c c c"
        "l l l l l l l l"
        "f f f f f f f f";
    grid-gap: 5px;
    background-color: white;
    }
    
    .content .grid2 {
        max-width: 750px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "o o"
            "o o"
            "o o"
            "o o";
        display: grid;
        padding: 10px;
        grid-gap: 10px;
    }
}