/* stylesheet to be used for overriding styles not used with bootstrap */
/* for example customized fonts etc. */
.footerText {
  font-size: 18px;
}
.col img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 1vmin;
}